<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
		<add name="ConnectionKeyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBSourse\KAI_TestDB.mdf;Integrated Security=True"/>
		<add name="LoginConnectionKeyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBSourse\Users.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>